/* 共通 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}
/* タイトル */
.top{
    width: auto;
    font-size: 32px;
    text-align: center;
}


/* タイマー */

.timer p{
    font-size: 100px;
    text-align: center;
}

/* スタート */
.start{
    background-color: aqua;
    padding: 40px;
    position: relative;
}


/* スタートボタン */
.startButtonOuter{
    display: flex;
    justify-content: center;

}
.startButton{
    width:300px;
    height:300px;
    border-radius: 50%;
    font-size: 50px;
    margin-right: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    background-color: red;
    filter: drop-shadow(10px 10px 5px rgba(160, 160, 160, 0.8));
}

.startButton:hover {
    background-color: bisque;
    color: red;
    border: 1px solid #333;
}

.startButton:active {
    background-color: bisque;
    color: red;
    border: none;
    transform: translate(10px,10px);
    filter: none;
  }
/* スタートモーダル */
.modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100%;
}

/* キャンセルボタン */
.cancelModal{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 30px;
    z-index: 2;
    height: 30px;
    filter: drop-shadow(2px 2px 0px rgba(214, 0, 0, 0.8));
}
.cancelModal:active{
    filter:none;
    transform: translate(2px,2px);
}



/* 撮影用画面 */
.startOuter{
    position: relative;
    width: 100%;
    height: 100%;
}
.startCamera h1{
    font-size: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);
}
.snapFrame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.snapButton{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    width: 100px;
    height: 100px;
    z-index: 2;   
}

.resnapButton{
    position: absolute;
    top: 18%;
    left: 30%;
    transform: translate(-50%,0);
    width: 50px;
    height: 50px;
    z-index: 2;
}


/* スタートサブミットボタン */
.startSubmit{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    width:300px;
    height: 100px;
    border-radius: 20%;
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    background-color: red;
}



/* 作業中 */
.inProgress{
    display: none;
    position: relative;
    width: auto;
    margin: auto;
}

.finishButton{
    width:300px;
    height:300px;
    border-radius: 50%;
    font-size: 50px;
    margin-right: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    background-color:blue;   
}

.finishButton:hover {
    background-color: bisque;
    color: blue;
    border: 1px solid #333;
}

.finishButton:active {
    background-color: bisque;
    color: blue;
    border: none;
    transform: translate(10px,10px);
    filter: none;
  }

/* 終了モーダル */
.finishModal{
    display: none;
}
.finishOuter{
    position: relative;
    width: 100%;
    height: 100%;
}

.finishTexts{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    gap:20px;
    padding: 20px;
}
.finishText{
    padding: 1em 0.5em;
    line-height: 2;
}
.finishSubmit{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,0);
    width:300px;
    height: 100px;
    border-radius: 20%;
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    background-color: blue

}

/* テーブル部分の見た目を整形 */
.display{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    vertical-align: middle;
}

